
/* #Media Queries
================================================== */
@media only screen and (min-width: 992px) and (max-width: 1200px) {
	

#banner h1 {
    font-size: 120px;
}
#banner {
    padding: 200px 0 100px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	#banner h1 {
    font-size: 80px;
}
#banner {
    padding: 200px 0 100px;
}
#banner h2 {
    font-size: 50px;
    margin-bottom: 40px;
}
#process i {
    width: 180px;
    height: 180px;
    line-height: 180px;
}
#videoimage {
    min-height: 500px;
}
#videoimage iframe {
    height: 500px;
 
}
.imagecoloroverlay a {
    margin: 160px auto 0;
}
#partner a img {
    margin: 0 auto 60px;
    max-width: 100%;
}
#partner {
    min-height: 385px;
}
#testimonials p {
    padding: 25px 0 20px;
}

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.backcolor{background: #030303;}
	nav ul li a {
    padding: 15px 0;
 	text-align:center;
	}
	#banner h1 {
    font-size:70px;
}
#banner .social a i {
    font-size: 40px;
    margin: 0 10px;
}
#banner {
    padding: 150px 0 50px;
}
.logo {
    padding: 15px 0;
}
#banner h2 {
    font-size: 32px;
    margin-bottom: 40px;
}
#process i {
    width: 100px;
    height: 100px;
    line-height: 100px;
	    font-size: 47px;
		margin-bottom:30px;
}
#videoimage {
    min-height: 400px;
}
#videoimage iframe {
    height: 400px;
 
}
.imagecoloroverlay a {
    margin: 100px auto 0;
}


#partner h4 , #testimonials h4 , #contact h4{
    padding-bottom: 30px;
}
#contact .social a i {
    font-size: 41px;
    margin: 0 10px;
}


#contact a {
    color: #7f7f7f;
    font-size: 18px;
}
#contact h3 {
    padding-bottom: 0px;
    padding-top: 10px;
}
#contact .social {
    margin-bottom: 20px;
}
#contact {
    min-height: 450px;
}
p.rightside {
    text-align: center;
    padding-bottom: 20px;
}
#testimonials i {
    font-size: 71px;
}
#partner a img {
    margin: 0 auto 10px;
    max-width: 100%;
}
#partner {
    min-height: 385px;
}
#testimonials p {
    padding: 25px 0 20px;
}
#process h4 {
    padding-bottom: 20px;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
}
